@qi:registry=https://quantuminventions.jfrog.io/quantuminventions/api/npm/npm/
//quantuminventions.jfrog.io/quantuminventions/api/npm/npm/:_password=QUtDcDhpZ3F4U3paMXYxcnBOMkZGOWNwblZBeGQ3cEt3S3RZZkNtamdoOWpKcjR4ZnloNW1FM1FDRlFLckwxVmlGa0I5bkFnZw==
//quantuminventions.jfrog.io/quantuminventions/api/npm/npm/:username=joydeep.banerjee@quantuminventions.com
//quantuminventions.jfrog.io/quantuminventions/api/npm/npm/:email=joydeep.banerjee@quantuminventions.com
//quantuminventions.jfrog.io/quantuminventions/api/npm/npm/:always-auth=true
