body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.qiMap {
  height: 1000px;
  width: 1000px;
}
.trip_table{
  font-size: 100px !important;
}

.masthead h1, .masthead .h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  .masthead p {
    font-size: 1.15rem;
  }
  .masthead h1, .masthead .h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .masthead h1, .masthead .h1 {
    font-size: 3.5rem;
  }
}

